.notLoggedContainer{
    font-family: Montserrat-light;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    & .notLoggedContent{
        min-width:220px;
        min-height: 250px;
        padding: 25px;
        box-sizing: border-box;
        border:1px solid gray; 
    }
}   