.CustomInput_container{
    margin:1rem 0;
    & .CustomInput_input{
        width:220px;
        border:1px solid transparent;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
        &[placeholder]{
            color:#000;
            font-family: inherit;
        }
        &:focus{
            border:1px solid #000;
        }
        &.bad{
            border:1px solid red;
        }
        &.good{
            border:1px solid green;
        }
    }
    & .CustomInput_help{
        max-width: 220px;
        font-size: 14px;
    }
}